a {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(
    90deg,
    #af40ff 0%,
    #5b42f3 10%,
    #00ddeb 20%,
    #af40ff 30%,
    #5b42f3 40%,
    #00ddeb 50%,
    #af40ff 60%,
    #5b42f3 70%,
    #00ddeb 80%,
    #af40ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("space.jpeg");
  background-size: cover;
  filter: blur(5px);
}
.container1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("space1.jpg");
  background-size: cover;
  filter: blur(5px);
}

p img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
h1 {
  position: sticky;
  top: 0;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #af40ff 0%,
    #5b42f3 10%,
    #00ddeb 20%,
    #af40ff 30%,
    #5b42f3 40%,
    #00ddeb 50%,
    #af40ff 60%,
    #5b42f3 70%,
    #00ddeb 80%,
    #af40ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3,
h4 {
  background-image: linear-gradient(
    90deg,
    #af40ff 0%,
    #5b42f3 10%,
    #00ddeb 20%,
    #af40ff 30%,
    #5b42f3 40%,
    #00ddeb 50%,
    #af40ff 60%,
    #5b42f3 70%,
    #00ddeb 80%,
    #af40ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p,
ul,
li {
  color: white;
}

input[type="submit"],
.button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}
input[type="submit"]:active,
input[type="submit"]:hover {
  outline: 0;
}
.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

input[type="submit"] span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}
input[type="submit"]:hover span {
  background: none;
}
@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}

@media (min-width: 768px) {
  input[type="submit"] {
    font-size: 24px;
    min-width: 196px;
  }
}
label {
  color: white;
}

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container2 > div {
  flex-grow: 1;
  height: 65px;
  margin: 10px;
  max-width: 200px;
}
.bottomButton{
  position: fixed;
  top: 90%;
  left: 0%;
}
.button-container {
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


